.login {
  border-radius: 50px;
  background: linear-gradient(145deg, #b6b9bd, #b0cef5);
  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
}
.btn {
  border-radius: 50px;
  background: linear-gradient(145deg, #f1efef, #ebe7e7);
  box-shadow: 35px 35px 70px #bebebe, -35px -35px 70px #ffffff;
}
